@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

/*GENERALES -------*/
body {
  font-family: -apple-system, "Montserrat", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(72, 72, 72);
}
img { max-width: 100%; }

a {
  color: #00b7ff;
}

/*NAVBAR------------*/
.navbar {
  box-shadow: 0 1px 0 #EBEBEB;
  height: 80px;
}

/*GENERALES --------*/
.user_avatar {
  display: block;
  border-radius: 50%;
  border-width: 2px !important;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow: hidden;
}

/*HOME------------*/
.home_open_picture  {
  background: url('https://images.unsplash.com/photo-1464890100898-a385f744067f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80') no-repeat center center;
  min-height: 70vh;
  background-size: cover;
}
.home_open_picture h2 {
  background: rgba(255, 255, 255, 0.64);
}
.popular_cities_home .card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
}

/*PROPERTY DETAIL------------*/
.flat_featuredImage img { width: 100%; }
.box {
  padding: 24px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 4px;
}
.box img { max-width: 100px; }